<div class='container'>
  @if (hasUserAuthority('ADD_VEHICLE')) {
    <a class='router-link'
      routerLink='add-vehicle'
    [routerLinkActive]="['active-link']">{{'components.admin-side-menu.labels.add-vehicle' | translate}}</a>
  }
  @if (hasUserAuthority('REMOVE_VEHICLE')) {
    <a class='router-link'
      routerLink='remove-vehicle'
    [routerLinkActive]="['active-link']">{{'components.admin-side-menu.labels.remove-vehicle' | translate}}</a>
  }
  @if (hasUserAuthority('GET_ALL_RESERVATIONS')) {
    <a class='router-link'
      routerLink='reservation-update-status'
    [routerLinkActive]="['active-link']">{{'components.admin-side-menu.labels.reservation-update-status' | translate}}</a>
  }
</div>
