<div class='wrapper'>
  <h4 class='header4'>{{
      'components.new-password.labels.title' | translate
    }}</h4>

  <form [formGroup]='form' class='form'>

    <app-input type="password" controlName="password"
               [placeholder]="'components.new-password.labels.password' | translate" [minLength]="5">
      <p-message severity="error" size="small" variant="simple">
        @if (hasFormError('password', 'required')) {
          {{ 'components.new-password.errors.required' | translate }}
        }
        @if (hasFormError('password', 'minlength')) {
          {{ 'components.new-password.errors.min-length' | translate }}
        }
      </p-message>
    </app-input>

    <app-input type="password" controlName="password2"
               [placeholder]="'components.new-password.labels.confirm-password' | translate" [minLength]="5">
      <p-message severity="error" size="small" variant="simple">

        @if (hasFormError('password2', 'required')) {
          {{ 'components.new-password.errors.required' | translate }}
        }
        @if (hasFormError('password2', 'minlength')) {
          {{ 'components.new-password.errors.min-length' | translate }}
        }
        @if (hasFormError('password2', 'doesntMatch')) {
          {{ 'components.new-password.errors.doesnt-match' | translate }}
        }
      </p-message>
    </app-input>

    <app-button (click)="setNewPassword()" [label]="'components.new-password.buttons.set' | translate"></app-button>
  </form>
</div>
