<div class='wrapper'>
  <div class='date-container'>
    <app-date-picker [model]="dateFrom" [maxDate]="dateTo" (dateChanged)="getVehiclesAvailable()"></app-date-picker>
    <app-date-picker [model]="dateTo" [minDate]="dateFrom" (dateChanged)="getVehiclesAvailable()"></app-date-picker>
  </div>
  @if (vehicles.length > 0) {
    <div class='container'>
      @for (vehicle of vehicles; track vehicle) {
        <vehicle-card [vehicle]='vehicle'
                      [lang]='lang'></vehicle-card>
      }
    </div>
  } @else {
    <div class='no-vehicle'>
      <h3>{{ 'components.vehicle-list.labels.no-vehicles' | translate }}</h3>
    </div>
  }
</div>
