.wrapper {
  background-color: white;
  padding: 40px;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.container {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.no-vehicle {
  margin: 70px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: black;
}

.btn:hover {
  color: var(--gold);
}
