<div class='wrapper'>
  <div class='date-container'>
    <p-calendar [(ngModel)]='dateFrom'
                dateFormat='dd.mm.yy'
                [maxDate]='dateTo'
                [touchUI]='true'
                [readonlyInput]='true'></p-calendar>
    <p-calendar [(ngModel)]='dateTo'
                dateFormat='dd.mm.yy'
                [minDate]='dateFrom'
                [touchUI]='true'
                [readonlyInput]='true'></p-calendar>
    <button class='btn'
            (click)='getVehiclesAvailable()'>{{ 'components.vehicle-list.buttons.search' | translate}}</button>
  </div>
  <div class='container' *ngIf='vehicles.length > 0; else noVehicles'>
    <ng-container *ngFor='let vehicle of vehicles'>
      <vehicle-card [vehicle]='vehicle'
                    [lang]='lang'
                    [userId]='user?.id'
                    (reserveVehicleEvent)='reserveVehicle($event)'></vehicle-card>
    </ng-container>
  </div>

  <ng-template #noVehicles>
    <div class='no-vehicle'>
      <h3>{{ 'components.vehicle-list.labels.no-vehicles' | translate}}</h3>
    </div>
  </ng-template>
</div>
