<img alt=''
     [src]='iconUrl'
     (click)='toggleProfilePanel()'
     [pTooltip]="user?.firstName + ' ' + user?.lastName"
     tooltipPosition='left' />
<div *ngIf='panelVisible' class='container'>
  <li (click)='navigateToProfileUpdate()'><i class='pi pi-user-edit'></i>Profil</li>
  <li (click)='navigateToAdminPanel()' *ngIf="hasUserAuthority('VIEW_ADMIN_PANEL')">
    <fa-icon icon='wrench'></fa-icon>
    Panel admina
  </li>
  <li (click)='emitLogoutRequest()'>
    <i class='pi pi-sign-out'></i> {{ "app.top-nav.sign-in-log-out-nav.log-out-label" | translate }}</li>
</div>
