<div class="footer">
    <div class="wrapper">

        <div class="footer__boxes">

            <div class="footer__box">
                <h3 class="footer__box-title">RentaCar</h3>
                <p>Z pasji do samochodów... Specjalna flota przygotowana dla potrzeb największych fanów motoryzacji. Bogate wersje wyposażenia, ogromna moc silników i doświadczenia, których nie spotkacie nigdzie indziej.</p>
                <div class="footer__box-social">
                    <a href="#" class="footer__box-link"><i class="pi pi-twitter"></i></a>
                    <a href="#" class="footer__box-link"><i class="pi pi-facebook"></i></a>
                    <a href="#" class="footer__box-link"><i class="pi pi-instagram"></i></a>
                </div>
            </div>
      

        <div class="footer__box footer__box-desktop">
            <h3 class="footer__box-title">Miasta</h3>
            <ul class="footer__box-list">
                <li class="footer__box-list-item"><a href="#">Bielsko-Biała</a></li>
                <li class="footer__box-list-item"><a href="#">Łódź</a></li>
                <li class="footer__box-list-item"><a href="#">Warszawa</a></li>
                <li class="footer__box-list-item"><a href="#">Wrocław</a></li>
            </ul>
        </div>
        <div class="footer__box footer__box-desktop">
            <h3 class="footer__box-title">O firmie</h3>
            <ul class="footer__box-list">
                <li class="footer__box-list-item"><a href="#">O nas</a></li>
                <li class="footer__box-list-item"><a href="#">Flota</a></li>
                <li class="footer__box-list-item"><a href="#">Kontakt</a></li>
                <li class="footer__box-list-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
    </div>
    <hr>
    <p class="footer__bottom-text">&copy; <span class="footer__year">{{year}}</span> RentaCar</p>

</div>