.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color: var(--main-font);
}
.wrapper {
  padding: 4em 1em 1em;
}
.footer__boxes {
  display: flex;
  justify-content: space-between;
}

.footer__box-desktop {
  display: block;
}

.footer__box {
  margin: 0 2em;
  width: 25%;
}
  .footer__box:first-child {
    width: 50%;
  }

.footer__box-list {
  list-style: none;
}
.footer__box-list-item {
  margin-bottom: 1em;
  margin-left: -40px;
}
a {
  text-decoration: none;
  color: var(--main-font);
}
a:hover {
  color: var(--gold);
}
.footer__box-list-item:hover {
  color: var(--gold);

}


.footer__box-title {
  margin-bottom: 1em;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.footer__box-social {
  margin: 2em 0 1em;
}

.footer__box-link {
  padding: 0 0.2em;
  color: white;
  font-size: 3.2rem;
  text-decoration: none;
  transition: color 0.3s;
}
  .footer__box-link:first-child {
    padding-left: 0;
  }

  .footer__box-link:hover {
    color: var(--gold);
  }


.footer__bottom-text {
  padding: 1em;
  text-align: center;
}

.pi{
    font-size: 25px;
}