.form_input {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  width: 200px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: transparent;
  height: 530px;
  width: 400px;
  border-radius: 15px;
  border: 2px solid rgba(24, 24, 24, 0.5);
  backdrop-filter: blur(25px);
  text-align: center;
  justify-content: center;
}

.header4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.btn {
  margin-left: 0;
}

.p-error {
  height: 0;
}

.btn {
  background-color: black;
  color: white;
  margin: 30px;
}

.btn:hover {
  color: var(--gold);
}

// MEDIA

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}
