<div class='wrapper'>
  <form [formGroup]='form' class='form_input'>
    <h4 class='header4'>{{ 'components.sign-up.labels.title' | translate }}</h4>

      <app-input id="userName" controlName="username" [minLength]="5"
                 [placeholder]="'components.sign-up.labels.username' | translate">
        <p-message severity="error" size="small" variant="simple">
          @if (hasFormError('username', 'required')) {
            {{ 'components.sign-up.errors.required' | translate }}
          }
          @if (hasFormError('username', 'minlength')) {
            {{ 'components.sign-up.errors.min-length' | translate }}
          }
        </p-message>
      </app-input>

      <app-input id="email" controlName="email" [minLength]="5"
                 [placeholder]="'components.sign-up.labels.email' | translate">
        <p-message severity="error" size="small" variant="simple">
          @if (hasFormError('email', 'required')) {
            {{ 'components.sign-up.errors.required' | translate }}
          }
          @if (hasFormError('email', 'email')) {
            {{ 'components.sign-up.errors.email' | translate }}
          }
        </p-message>
      </app-input>

      <app-input id="password" controlName="password" [minLength]="5"
                 [placeholder]="'components.sign-up.labels.password' | translate">
        <p-message severity="error" size="small" variant="simple">
          @if (hasFormError('password', 'required')) {
            {{ 'components.sign-up.errors.required' | translate }}
          }
          @if (hasFormError('password', 'minlength')) {
            {{ 'components.sign-up.errors.min-length' | translate }}
          }
        </p-message>
      </app-input>

      <app-input id="password2" controlName="password2" [minLength]="5"
                 [placeholder]="'components.sign-up.labels.password-confirm' | translate">
        <p-message severity="error" size="small" variant="simple">
          @if (hasFormError('password2', 'required')) {
            {{ 'components.sign-up.errors.required' | translate }}
          }
          @if (hasFormError('password2', 'passwordDoesntMatch')) {
            {{ 'components.sign-up.errors.password-doesnt-match' | translate }}
          }
          @if (hasFormError('password2', 'minlength')) {
            {{ 'components.sign-up.errors.min-length' | translate }}
          }
        </p-message>
      </app-input>

    <div class='button-container'>
      <app-button (click)='signUp()' [label]="'components.sign-up.labels.buttons.sign-up' | translate">
      </app-button>
    </div>
  </form>
</div>
