<div class='wrapper'>
  <h4 class='header4'>{{
      'components.password-reset.labels.title' | translate
    }}</h4>

  <form [formGroup]='form' class='form'>

    <app-input controlName="login" [placeholder]="'components.password-reset.labels.login' | translate" [minLength]="5">
      <p-message severity="error" size="small" variant="simple">
        @if (hasFormError('login', 'required')) {
          {{ 'components.password-reset.errors.required' | translate }}
        }
        @if (hasFormError('login', 'minlength')) {
          {{ 'components.password-reset.errors.min-length' | translate }}
        }
      </p-message>
    </app-input>

    <app-button (click)="resetPassword()"
                [label]="'components.password-reset.buttons.resend' | translate"></app-button>
  </form>
</div>
