<div class='wrapper'>
  <h4 class='header4'>{{
    'components.password-reset.labels.title' | translate
    }}</h4>

  <form [formGroup]='form' class='form'>

    <div class='input-container'>
      <input class='form_input'
             pInputText
             type='email'
             formControlName='email'
             placeholder="{{
      'components.password-reset.labels.email' | translate
    }}"
             minlength='5'
      />
      <small *ngIf="hasFormError('email', 'required')"
             class='p-error'>{{'components.password-reset.errors.required' | translate}}</small>
      <small *ngIf="hasFormError('email', 'minlength')"
             class='p-error'>{{'components.password-reset.errors.min-length' | translate}}</small>
    </div>

    <button class='btn' (click)='resetPassword()'>
      {{ "components.password-reset.buttons.resend" | translate }}
    </button>
  </form>
</div>
