.container {
  background-color: white;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.equipment-container {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}
