<ng-container *ngIf='!mfaSettings || mfaSettings && !mfaSettings.active; else activatedMfa'>
  <form [formGroup]='form' *ngIf='userProfile'>

    <div class='checkox-container'>
      <label for='activateMfa'>Włącz dwustopniowe uwierzytelnianie</label>
      <p-checkbox id='activateMfa' formControlName='activateMfa' [binary]='true' />
    </div>

    <div class='mfa-wrapper'>
      <div class='mfa-header-container'>
        <label>Wybierz formę uwierzytelniania</label>
        <div class='mfa-type-container'>
          <ng-container *ngFor='let mfaType of availableMfaTypes'>
            <button pButton (click)='selectedMfaType = mfaType' [disabled]='!isActivateMfaEnabled()'>{{mfaType}}</button>
          </ng-container>
      </div>
      </div>
      <div class='mfa-container'>
        <ng-container *ngIf="selectedMfaType === 'TOTP'">
          <profile-mfa-totp [userProfileId]='userProfile.id' [form]='getTotpForm()'></profile-mfa-totp>
        </ng-container>
      </div>
    </div>


    <div class='button-container'>
      <button pButton class='p-button'
              (click)='save()' [disabled]='form.invalid'>Zapisz
      </button>
    </div>
  </form>
</ng-container>

<ng-template #activatedMfa>
  <button pButton (click)='deleteMfaConfirmDialog()'>Usuń dwustopniowe uwierzytelnianie</button>

  <p-confirmDialog
    message='Czy napewno chcesz usunąć dwustopniowe uwierzytelnianie?'
    header='Potwierdź usunięcie'
    acceptLabel='Tak'
    rejectLabel='Nie'
    icon='pi pi-exclamation-triangle'
    key='delete-mfa'
  ></p-confirmDialog>
</ng-template>


<p-confirmDialog
  header='Kody bezpieczeństwa'
  acceptLabel='Zrozumiano'
  icon='pi pi-exclamation-triangle'
  key='recovery-codes'
  [rejectVisible]='false'
></p-confirmDialog>
