.vehicle-card {
  width: 350px;
  box-shadow: rgba(98, 97, 97, 0.16) 5px 6px 12px, rgba(175, 172, 172, 0.23) 5px 6px 12px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.title-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.title-row span:hover {
  color: var(--gold);
}

.title-row span:hover {
  cursor: pointer;
}

.car-name {
  display: inherit;
  justify-content: left;
  font-weight: bold;
  margin: 10px auto;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 100%;
}

.price-container span {
  width: inherit;
}

.price {
  width: inherit;
  text-align: right;
}

.car-row {
  display: flex;
  flex-direction: column;
}

.car-row-column-first, .car-row-column-second {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.car-row-column-first, .car-row-column-second {
  width: 100%;
  height: 95%;
  display: inherit;
  margin: auto;
  padding: 10px;
}

.equipment-element {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.equipment-element fa-icon {
  width: 20px;
}

.list {
  margin: 5px auto;
}

li {
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-icon);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://puretesla.com/wp-content/uploads/2018/11/img_0623.jpg);
  text-align: center;
  margin: 10px auto;
}

.btn:hover {
  background: linear-gradient(rgba(23, 22, 22, 0.6), rgba(65, 62, 62, 0.6)), url(https://puretesla.com/wp-content/uploads/2018/11/img_0623.jpg);
}

.btn:disabled, .btn[disabled=disabled] {
  background: grey;
}

.button-container {
  display: flex;
  gap: 10px;
}
