.container {
  z-index: 1;
  position: fixed;
  background: var(--top-nav-color);
  border-radius: 5px;
  left: 88%;
}

li {
  color: white;
  padding: 10px;
  list-style-type: none;
}

li:hover {
  color: #d7d2d2;
  cursor: pointer;
}

.pi {
  font-size: 14px!important;
}

.no-background-button, .no-background-button:hover, .no-background-button:focus {
  background: none;
  border: none;
  box-shadow: none;
}

.no-background-button:hover {
  color: #d7d2d2;
}
