form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.img-uploader > input {
  display: none;
}

.image-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  width: 200px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  color: grey;
  font-size: 12px;
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  color: var(--gold);
}

.btn:disabled, .btn[disabled=disabled] {
  background: grey;
}

// MEDIA

@media (max-width: 800px) {
  .img-row {
    display: flex;
    align-items: center;
  }
}
