.container {
}

.search-box-container {
  background-image: url('../../assets/images/porsche-911-background.jpg');
  background-repeat: round;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.searcher {
  background: white;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 30px;
  border-radius: 5px;
}

.input-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-container {
  width: 300px;
}

.calendars-container {
  display: flex;
  gap: 5px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}
