<div class='container'>
  <div class='search-box-container'>
    <div class='searcher'>
      <div class='input-calendar-container'>
        <div class='input-container'>
          <p-dropdown [options]='pickupLocations' [(ngModel)]='selectedPickupLocation' optionLabel='displayName'
                      [style]="{'minWidth':'100%'}"
                      placeholder="{{ 'components.searcher.labels.pickup-locations' | translate}}"></p-dropdown>
        </div>
        <div class='calendars-container'>
          <p-calendar [(ngModel)]='dateFrom' dateFormat='dd.mm.yy' [maxDate]='dateTo'></p-calendar>
          <p-calendar [(ngModel)]='hourFrom' [timeOnly]='true' [stepMinute]='60'></p-calendar>
          <p-calendar [(ngModel)]='dateTo' dateFormat='dd.mm.yy' [minDate]='dateFrom'></p-calendar>
          <p-calendar [(ngModel)]='hourTo' [timeOnly]='true' [stepMinute]='60'></p-calendar>
        </div>
      </div>
      <div class='button-container'>
        <button class="btn" (click)='searchVehicles()'>{{ 'components.searcher.buttons.search' | translate}}</button>
      </div>
    </div>
  </div>
  </div>    
