.container {
}

.searcher {
  background: white;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 30px;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.input-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-container {
  width: 300px;
}

.calendars-container {
  display: flex;
  gap: 5px;
}

.button-container {
  display: flex;
  margin-top: 25px;
  margin-left: 0;
  justify-content: center;
  overflow: hidden;
}

.btn {
  background: var(--top-nav-color);
  color: var(--main-font);
}
.btn:hover {
  background: var(--main-font);
  color: black;
  box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.8), inset 11px 6px 10px rgba(0, 0, 0, 0.2);
}
