<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Activation</title>
</head>
<body>

<h3>Witaj! Cieszymy się że z nami jesteś!</h3>
<h4>Kliknij w poniższy link aby aktywować swoje konto RentaCar!</h4>

<a href="${activation_link}">${activation_link}</a>

</body>
</html>