<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zmiana hasła</title>
</head>
<body>

<h3>Zmiana hasła</h3>
<h4>Otrzymaliśmy żądanie zmiany hasła dla Twojego konta.</h4>
<p>Kliknij w link poniżej aby zmienić swoje hasło.</p>

<a href="{redirect_url}">{redirect_url}</a>

</body>
</html>