<!--TODO DLA NASZEGO UX/UI-->
@if (vehicle) {
  <div class='container'>
    <div class='img-container'>
      <img alt='' [src]='getImage()'>
    </div>
    <div class='equipment-container'>
      <div class='section'>
        <div class='info'>
          <span
            class='title'>{{ 'components.vehicle-details.labels.production-year' | translate }}</span><span>{{ vehicle.productionYear | date: 'yyyy-MM-dd' }}</span>
        </div>
        <div class='info'>
            <span
              class='title'>{{ 'components.vehicle-details.labels.amount-of-seats' | translate }}</span><span>{{ vehicle.seatsAmount }}</span>
        </div>
        <div class='info'>
              <span
                class='title'>{{ 'components.vehicle-details.labels.category' | translate }}</span><span>{{ vehicle.category }}</span>
        </div>
        <div class='info'>
                <span
                  class='title'>{{ 'components.vehicle-details.labels.color' | translate }}</span><span>{{ getTranslation(vehicle.body.color, 'colors') | translate }} </span>
        </div>
        <div class='info'>
                  <span
                    class='title'>{{ 'components.vehicle-details.labels.rims-inch' | translate }}</span><span>{{ vehicle.body.rimsInch }}</span>
        </div>
        <div class='info'>
        </div>
        <div class='section'>
        </div>
        <div class='info'>
                    <span
                      class='title'>{{ 'components.vehicle-details.labels.engine-type' | translate }}</span><span>{{ getTranslation(vehicle.engine.type, 'engine-type') | translate }}</span>
        </div>
        <div class='info'>
                      <span
                        class='title'>{{ 'components.vehicle-details.labels.avg-fuel-consumption' | translate }}</span><span>{{ vehicle.engine.avgFuelConsumption }}</span>
        </div>
        <div class='info'>
                        <span
                          class='title'>{{ 'components.vehicle-details.labels.engine-power' | translate }}</span><span>{{ vehicle.engine.power }}
          KM ({{ vehicle.engine.torque }}Nm)</span>
        </div>
        <div class='info'>
                      <span
                        class='title'>{{ 'components.vehicle-details.labels.engine-capacity' | translate }}</span><span>{{ vehicle.engine.capacity }}
          cm3</span>
        </div>
        <div class='info'>
                    <span
                      class='title'>{{ 'components.vehicle-details.labels.engine-transmission' | translate }}</span><span>{{ getTranslation(vehicle.engine.transmission, 'transmission') | translate }}</span>
        </div>
        <div class='section'>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.ac' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.ac"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.pdc-front' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.frontPDC"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.pdc-rear' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.rearPDC"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.bluetooth' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.bluetooth"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.led-front' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.ledFrontLights"></app-checkbox>
        </div>
        <div class='section'>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.led-rear' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.ledRearLights"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.xenon-front' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.xenonFrontLights"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.leather' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.leatherSeats"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.multi-steering-wheel' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.multifunctionalSteeringWheel"></app-checkbox>
        </div>
        <div class='info'>
          <span class='title'>{{ 'components.vehicle-details.labels.cruise-control' | translate }}</span>
          <app-checkbox [model]="vehicle.equipment.cruiseControl"></app-checkbox>
        </div>
      </div>
    </div>
  </div>
}
