.container {
  background-color: white;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.equipment-container {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

// MEDIA

@media (max-width: 800px) {
  .equipment-container {
    flex-direction: column;
  }
}
