@if (!controlName()) {
  <p-checkbox
    [(ngModel)]='model'
    [readonly]="isReadonly()"
    (onChange)="onChange()"
    [binary]='true'>
    {{ label() }}
  </p-checkbox>
} @else {
  <div class="label-container">
    <app-form-field-container [formGroup]="formGroup()">
      <p-checkbox
        [formControlName]="controlName()"
        [readonly]="isReadonly()"
        [binary]='true'>
      </p-checkbox>
      <ng-content></ng-content>
    </app-form-field-container>
    <p-float-label>{{ label() }}</p-float-label>
  </div>
}
