<img alt=''
     [src]='iconUrl'
     (click)='toggleProfilePanel()'
     [pTooltip]="user?.firstName + ' ' + user?.lastName"
     tooltipPosition='left' />
<div *ngIf='panelVisible' class='container'>
  <li (click)='navigateToProfile()'><i class='pi pi-user-edit'></i>{{'components.profile-panel.profile' | translate}}</li>
  <li (click)='navigateToAdminPanel()' *ngIf="hasUserAuthority('VIEW_ADMIN_PANEL')">
    <fa-icon icon='wrench'></fa-icon>
    {{'components.profile-panel.admin' | translate}}
  </li>
  <li (click)='navigateToMyReservations()'><i class='pi pi-user-edit'></i>{{'components.profile-panel.my-reservations' | translate}}</li>
  <li (click)='emitLogoutRequest()'>
    <i class='pi pi-sign-out'></i>{{'components.profile-panel.logout' | translate}}</li>
</div>
