<div class="top-nav">
  <div class="menu-nav">
    <i class="pi pi-align-justify"></i>
  </div>
  <div class="logo-nav" routerLink="">LOGO</div>
  <div class="right-nav">
    <div class="lang-nav">
      <span
        class="{{ iconLang }}"
        (click)="changeLanguage()"
        pTooltip="{{ 'app.top-nav.lang-nav.tooltip' | translate }}"
        tooltipPosition="bottom"
      ></span>
    </div>
    <div class="sign-in-log-out-nav">
      <button *ngIf="!userLogged" pButton class="p-button" routerLink="sign-in">
        {{ "app.top-nav.sign-in-log-out-nav.sign-in-label" | translate }}
      </button>
      <button *ngIf="userLogged" pButton class="p-button" (click)="logout()">
        {{ "app.top-nav.sign-in-log-out-nav.log-out-label" | translate }}
      </button>
    </div>
  </div>
</div>
<div class="router-section">
  <router-outlet></router-outlet>
  <p-toast key="success" />
  <p-toast key="warn" />
  <p-toast key="error" />
</div>
