<div class='hamburger-container' *ngIf='isMobile && !sideMenuExpanded'>
  <fa-icon icon='bars' (click)='toggleSideMenu()'></fa-icon>
</div>

<nav class='side-menu-expanded' *ngIf='sideMenuExpanded'>
  <fa-icon icon='xmark' (click)='toggleSideMenu()' *ngIf='sideMenuExpanded'></fa-icon>
  <a class='nav__link' routerLink='' (click)='closeSideMenu()'>{{ 'components.app.labels.mainPage' | translate }}</a>
  <a class='nav__link'
     href='#'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'>{{ 'components.app.labels.cars' | translate }}</a>
  <a class='nav__link'
     routerLink='vehicle-list'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'>{{ 'components.app.labels.reserve' | translate }}</a>
  <a class='nav__link'
     routerLink='contact'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'>{{ 'components.app.labels.contact' | translate }}</a>
  <a class='nav__link'
     routerLink='sign-in'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'
     *ngIf='!userLogged'>{{ "components.app.labels.signIn" | translate }}</a>
  <a class='nav__link'
     routerLink='my-reservations'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'
     *ngIf='userLogged'>{{ 'components.app.labels.myReservations' | translate }}</a>
  <a class='nav__link'
     routerLink='profile/edit'
     [routerLinkActive]="['active-link']"
     (click)='closeSideMenu()'
     *ngIf='userLogged'>{{ "components.app.labels.profile" | translate }}</a>
  <a class='nav__link'
     (click)='logout()'
     *ngIf='userLogged'>{{ "components.app.labels.logout" | translate }}</a>
  <a class='{{ iconLang }} nav__link' (click)='changeLanguage()'
     pTooltip="{{ 'components.app.labels.changeLanguage' | translate }}" tooltipPosition='bottom'></a>
</nav>

<div class='header' *ngIf='!isMobile'>
  <h2 class='logo' routerLink=''>RentaCar</h2>
  <div class='nav'>

    <a href='#' [routerLinkActive]="['active-link']">{{ 'components.app.labels.cars' | translate }}</a>
    <a href='#' [routerLinkActive]="['active-link']">FAQ</a>
    <a routerLink='contact' [routerLinkActive]="['active-link']">{{ 'components.app.labels.contact' | translate }}</a>

    <button class='sign-in-log-out-nav btn'
            *ngIf='!userLogged'
            routerLink='sign-in'
            [routerLinkActive]="['active-link']">{{ "components.app.labels.signIn" | translate }}

    </button>

    <profile-panel class='panel-log' *ngIf='userLogged' (logoutEmitter)='logout()' [user]='userLogged'></profile-panel>


    <span class='lang-nav' class='{{ iconLang }}' (click)='changeLanguage()'
          pTooltip="{{ 'components.app.labels.changeLanguage' | translate }}" tooltipPosition='bottom'>
    </span>

  </div>
</div>


<div class='router-section'>
  <router-outlet></router-outlet>
  <p-toast key='success' />
  <p-toast key='warn' />
  <p-toast key='error' />
</div>


<footer [isMobile]='isMobile'></footer>
