.top-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background: var(--top-nav-color);
  height: 60px;
  width: 100%;
  margin: auto;
}

.link-nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 40%;
  color: white;
}

i {
  color: white;
}

.logo-nav {
  height: inherit;
  display: inherit;
  justify-content: left;
  margin: 0 10px;
}

.logo-nav > img {
  display: flex;
  justify-content: center;
  margin: auto;
  height: inherit;
  width: auto;
}

.menu-nav > i:hover,
.logo-nav:hover {
  color: white;
  cursor: pointer;
}

.lang-nav > span:hover {
  cursor: pointer;
}

.right-nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  margin: 0 10px;
}

li {
  list-style-type: none;
}

li:hover {
  color: #d7d2d2;
  cursor: pointer;
}

.no-background-button, .no-background-button:hover, .no-background-button:focus {
  background: none;
  border: none;
  box-shadow: none;
}

.no-background-button:hover {
  color: #d7d2d2;
}
