<div class='wrapper'>
  <h4 class='header4'>{{
    'components.new-password.labels.title' | translate
    }}</h4>

  <form [formGroup]='form' class='form'>

    <div class='input-container'>
      <input class='form_input'
             pInputText
             type='password'
             formControlName='password'
             placeholder="{{
      'components.new-password.labels.password' | translate
    }}"
             minlength='5'
      />
      <small *ngIf="hasFormError('password', 'required')"
             class='p-error'>{{'components.new-password.errors.required' | translate}}</small>
      <small *ngIf="hasFormError('password', 'minlength')"
             class='p-error'>{{'components.new-password.errors.min-length' | translate}}</small>
    </div>

    <div class='input-container'>
      <input class='form_input'
             pInputText
             type='password'
             formControlName='password2'
             placeholder="{{
      'components.new-password.labels.confirm-password' | translate
    }}"
             minlength='5'
      />
      <small *ngIf="hasFormError('password2', 'required')"
             class='p-error'>{{'components.new-password.errors.required' | translate}}</small>
      <small *ngIf="hasFormError('password2', 'minlength')"
             class='p-error'>{{'components.new-password.errors.min-length' | translate}}</small>
      <small *ngIf="hasFormError('password2', 'doesntMatch')"
             class='p-error'>{{'components.new-password.errors.doesnt-match' | translate}}</small>
    </div>

    <button class='btn' (click)='setNewPassword()'>
      {{ "components.new-password.buttons.set" | translate }}
    </button>
  </form>
</div>
