@if (!controlName()) {
  <p-date-picker
                 [(ngModel)]='model'
                 dateFormat='dd.mm.yy'
                 [minDate]='minDate()'
                 [maxDate]='maxDate()'
                 [touchUI]='true'
                 [readonlyInput]='isReadonly()'
                 (ngModelChange)='onDateChange()'>
  </p-date-picker>
} @else {
  <app-form-field-container [formGroup]="formGroup()" [label]="label()">
    <p-date-picker
      [formControlName]="controlName()"
      dateFormat='dd.mm.yy'
      [minDate]='minDate()'
      [maxDate]='maxDate()'
      [touchUI]='true'
      [readonlyInput]='isReadonly()'></p-date-picker>
    <ng-content></ng-content>
  </app-form-field-container>
}
