<div class='container' *ngIf='reservation'>
  <p-steps [model]='steps' [readonly]='false'
           [activeIndex]='activeIndex'
           (activeIndexChange)='changeStep($event)'>>
  </p-steps>

  <div *ngIf='activeIndex===0'>
    <vehicle-step-reservation [vehicleId]='reservation.vehicleId'></vehicle-step-reservation>
  </div>

  <div *ngIf='activeIndex===1'>
    <contact-step-reservation></contact-step-reservation>
  </div>

  <div *ngIf='activeIndex===2'>
    <summary-step-reservation [reservation]='reservation'></summary-step-reservation>
  </div>


  <div class='button-container'>
    <button class='btn' [disabled]='activeIndex===0' (click)='goBack()'>Wstecz</button>
    <button *ngIf='activeIndex<2' class='btn' [disabled]='activeIndex===2' (click)='goNext()'>Dalej</button>
    <button *ngIf='activeIndex===2' class='btn' (click)='reserveDialog()'>Rezerwuj</button>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
