form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 1%;
}

.checkbox-container {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  max-width: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-break: break-word;
}

label {
  color: grey;
  font-size: 12px;
}

profile-mfa-totp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mfa-wrapper {
  display: flex;
  width: 800px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mfa-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mfa-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// MEDIA
@media (max-width: 800px) {

  .mfa-wrapper {
    width: 100%;
  }

}
