.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_input {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}

.bottom-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.wrapper {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: transparent;
  height: 250px;
  width: 400px;
  border-radius: 15px;
  border: 2px solid rgba(129, 129, 129, 0.5);
  backdrop-filter: blur(25px);
  text-align: center;
  justify-content: center;
}

.btn {
  background-color: black;
  color: white;
  margin: 20px;
}

.btn:hover {
  color: var(--gold);
}

.header4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

// MEDIA

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
