<div class='wrapper'>
  <h4 class='header4'>{{
      'components.reactivation-account.labels.title' | translate
    }}</h4>

  <form [formGroup]='form' class='form'>
    <app-input controlName="login" [placeholder]="'components.reactivation-account.labels.login' | translate"
               [minLength]="5">
    </app-input>
    <app-button [label]="'components.reactivation-account.buttons.resend' | translate" (click)="resendEmail()"
                [disabled]='form.invalid'></app-button>
  </form>
</div>
