.wrapper {
  background-color: white;
  padding: 40px;
}

.top-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

h3 {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 800px;
}

img {
  width: 100%;
  height: auto;
}

.equipment-container {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.title {
  font-weight: bold;
}

.description {
  padding: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-icon);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://puretesla.com/wp-content/uploads/2018/11/img_0623.jpg);
  text-align: center;
  margin: 20px auto;
}

.btn:disabled, .btn[disabled=disabled] {
  background: grey;
}

.btn:hover {
  background: linear-gradient(rgba(23, 22, 22, 0.6), rgba(65, 62, 62, 0.6)), url(https://puretesla.com/wp-content/uploads/2018/11/img_0623.jpg);
}

::ng-deep {
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: rgba(23, 22, 22, 0.6);
    background: rgba(23, 22, 22, 0.6);
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: black;
  }
}

// MEDIA

@media (max-width: 1200px) {
  .top-container {
    display: flex;
    flex-direction: column;
  }
  .img-container {
    width: auto;
  }
  .equipment-container {
    flex-direction: column;
    justify-items: left;
    align-items: center;
  }
  .section {
    width: 50%;
  }
}
