.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
}
