@if (!controlName()) {
  <p-multiSelect
            [(ngModel)]='model'
            [display]="displayType()"
            [selectionLimit]="selectionLimit()"
            (ngModelChange)='onSelectChange()'
  [readonly]="isReadonly()">
  </p-multiSelect>
} @else {
  <app-form-field-container [formGroup]="formGroup()" [label]="label()">
  <p-multiSelect
            [formControlName]="controlName()"
            [display]="displayType()"
            [options]="options()"
            [selectionLimit]="selectionLimit()"
            [readonly]="isReadonly()"></p-multiSelect>
    <ng-content></ng-content>
  </app-form-field-container>
}
